<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{{pageTitle}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="views/css/about_us.css">
</head>


<body>



    <div class="container">
        <div class="about row">
        <div class="about1 col-sm-4 col-md-4 col-lg-4">
            <h1>ABOUT <br><font color="orange">KODERUNNERS</font><br>SOCITEY</h1><br>
        <p>Lorem ipsum dolor sit amet, illum virtute pro an. Aeterno consulatu vix eu, dicant meliore legendos ea eam. Dicat meliore alienum eam et. Vim assum quidam molestiae ut, dolorem quaerendum persequeris id sea. Oblique maiorum similique et vim.
</p>
        </div>
        <div class="about2 col-sm-4 col-md-4 col-lg-4">
        <h1>Web Development &nbsp;<i class="fa fa-globe"></i></h1>
        <hr>
        <h1>Android Development <i class="fa fa-mobile"></i></h1> 
        <hr>
        <h1>Game Development &nbsp;<i class="fa fa-gamepad"></i></h1> 
        <hr>
        <h1>Hacking &nbsp;<i class="fa fa-laptop"></i></h1> 
        <hr>
        
        </div>
        <div class="about3 col-sm-4 col-md-4 col-lg-4">
        <ul>
        <li>Lorem ipsum dolor sit amet, ut tantas propriae disputando pri, vim cu etiam viris percipitur. Pro te meis utroque eleifend, ne cibo iusto omnesque per. Est ei illum definiebas, vero.</li>
        <li>Lorem ipsum dolor sit amet, ut tantas propriae disputando pri, vim cu etiam viris percipitur. Pro te meis utroque eleifend, ne cibo iusto omnesque per. Est ei illum definiebas, vero.</li>   
        <li>Lorem ipsum dolor sit amet, ut tantas propriae disputando pri, vim cu etiam viris percipitur. Pro te meis utroque eleifend, ne cibo iusto omnesque per. Est ei illum definiebas, vero.</li>   
            <li>Lorem ipsum dolor sit amet, ut tantas propriae disputando pri, vim cu etiam viris percipitur. Pro te meis utroque eleifend, ne cibo iusto omnesque per. Est ei illum definiebas, vero.</li>   
        </ul>    
        </div>
        </div>
    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
        (function() {
            'use strict'

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style')
                msViewportStyle.appendChild(
                    document.createTextNode(
                        '@-ms-viewport{width:auto!important}'
                    )
                )
                document.head.appendChild(msViewportStyle)
            }

        }())

    </script>

</body>

</html>
